<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://anonylistfunctions.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/1eb22577-2c00-4bee-b0d4-96a9d7ba5870/resourceGroups/anonylist/providers/Microsoft.Web/sites/anonylistfunctions</ResourceId>
    <UserName>$anonylistfunctions</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://anonylistfunctions.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>